<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberRenewMapper">
	
	<resultMap type="MemberRenew" id="MemberRenewResultMap">
		<id column="id" property="id"/>
		<result column="memberId" property="memberId"/>
		<result column="requestTerm" property="requestTerm"/>
		<result column="status" property="status"/>
		<result column="createTime" property="createTime"/>
		<result column="dealTime" property="dealTime"/>
		<result column="failReason" property="failReason"/>
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into h_member_renew(
			memberId,	
			requestTerm,	
			status,	
			createTime,	
			dealTime,	
			failReason,
			memberNo,
			memberName,
			operator
		) values (
			#{memberId},	
			#{requestTerm},	
			#{status},	
			#{createTime},	
			#{dealTime},
			#{failReason},
			#{memberNo},
			#{memberName},
			#{operator}						
		)
	  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >
        	SELECT LAST_INSERT_ID() AS ID   
      </selectKey>
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="pd">
		update  h_member_renew
			set 
				memberId = #{memberId},
				requestTerm = #{requestTerm},
				status = #{status},
				createTime = #{createTime},
				dealTime = #{dealTime},
				failReason = #{failReason},
				operator = #{operator}
			where 
				id = #{id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="String" resultType="pd">
		select
			id, 
			memberId,	
			requestTerm,	
			status,	
			createTime,	
			dealTime,	
			failReason,
			memberNo,
			memberName,
			operator
		from 
			h_member_renew
		where 
			id = #{id}
	</select>
	
	<!-- 通过ID获取数据 -->
	<select id="findByMemberId" parameterType="String" resultType="pd">
		select 
			id,
			memberId,	
			requestTerm,	
			status,	
			createTime,	
			dealTime,	
			failReason,
			memberNo,
			memberName,
			operator
		from 
			h_member_renew
		where 
			memberId = #{id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		    id,
			memberId,	
			dealTime,	
			failReason,	
			requestTerm,	
			status,	
			createTime,
			memberNo,
			memberName,
			operator	
		from 
			h_member_renew
		where 1=1
		<if test="pd.createTime != null and pd.createTime != ''">
			and createTime = #{pd.createTime}
		</if>
		<if test="pd.memberNo != null and pd.memberNo != ''"><!-- 关键词检索 -->
			and memberNo = #{pd.memberNo}
		</if>
		<if test="pd.memberName != null and pd.memberName != ''"><!-- 关键词检索 -->
			and memberName LIKE CONCAT(CONCAT('%', #{pd.memberName}),'%') 
		</if>
		<if test="pd.typeId != null and pd.typeId != ''"><!-- 关键词检索 -->
			<choose>
				<when test="pd.typeId == 1">
					and (status = 1 or status = 2)
				</when>
				<when test="pd.typeId == 2">
					and (status = 3 or status = 4)
				</when>
				<when test="pd.typeId == 3">
					and (status = 5)
				</when>
			</choose>
		</if>
		<if test="pd.memberId != null and pd.memberId != ''"><!-- 关键词检索 -->
			and memberId = #{pd.memberId}
		</if>
		order by createTime
	</select>
	
	<!-- 列表 -->
	<select id="getLastList" parameterType="String" resultType="pd">
		select
		    id,
			memberId,	
			dealTime,	
			failReason,	
			requestTerm,	
			status,	
			createTime,
			memberNo,
			memberName	
		from 
			h_member_renew
		where memberId = #{pd.memberId}
		order by createTime desc limit 5
	</select>
	
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from h_member_renew
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="Integer">
		delete from h_member_renew
		where 
			id = #{id}
	</delete>
	
	<select id="getNeedRenewMembers" parameterType="Integer"  resultMap="MemberRenewResultMap">
	  select * from h_member_renew
		where status=1 and
			memberId in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                 #{item.id}
		</foreach>
	</select>
	
	<update id="updateALl" parameterType="String">
		update h_member_renew
		 <set>
			<if test="status != null and status != ''">
				status = #{status},
			</if>
			<if test="memberId != null and memberId != ''">
				 memberId = #{memberId},
			</if>
			<if test="requestTerm != null and requestTerm != ''">
				 requestTerm = #{requestTerm},
			</if>
			<if test="dealTime != null and dealTime != ''">
				 dealTime = #{dealTime},
			</if>
		</set>
		where id = #{id}
	</update>
	
</mapper>