<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TravelTypeMapper">
	
	<!-- 列表(全部) -->
	<select id="listAll" resultType="pd">
		select
			id,
			name
		from 
			h_travel_type 
	</select>
	
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		    id,
			name
		from 
			h_travel_type
		where 1=1
	</select>
	
	<!-- 列表(全部) -->
	<select id="getNameById" resultType="String" parameterType="Integer">
		select
			name
		from 
			h_travel_type 
		where id = #{id}
	</select>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into h_travel_type(
			name	
		) values (
			#{name}	
		)
	  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >
        	SELECT LAST_INSERT_ID() AS ID   
      </selectKey>
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="pd">
		update  h_travel_type
			set 
				name = #{name}
			where 
				id = #{id}
	</update>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from h_travel_type
		where 
			id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="Integer">
		delete from h_travel_type
		where 
			id = #{id}
	</delete>
	
</mapper>